@tailwind base;
@tailwind components;
@tailwind utilities;

/* src/index.css or src/App.css */
@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  display: inline-block;
  animation: marquee 10s linear infinite;
}

button:hover {
  transition: transform 0.3s ease, background-color 0.3s ease;
  transform: scale(1.05);
}

.step {
  background-color: #fff;
  padding: 15px;
  margin: 10px 0;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

